<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>KickStart</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
   <link rel="icon" type="image/png" href="/gifs/monkeyhelp.png" />


   <link href="dist/app.css" type="text/css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
   <div class="top-nav">
   	<div class="side-title"><span class="span-fat">Wedding</span><span class="span-thin"> KickStarter</span></div>
   		<div id="kickStart" class="btnn cool-button pull-right">Stuff</div>
			</div>
<div class="center-intro">
				   <p class="main-headline">Plan a Dream Vacation!</p>
				   <div class="btnn cool-button">Stuff</div>
				   <div class="btnn cool-button">Stuff 2</div>
				</div>

</body>

</html>